<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">General</h3>
    <div class="widget">
      <ul>
          <li>
	  <a href="/About-me/index.html">About me</a> 
          </li>
          <li>
	<a href="/Contact-Subscribe/index.html">Contact</a>
          </li>
      </ul>

    </div>
  </div>
<% } %>
